TOPIC: String Based Assignment Problem

1. Write a program to reverse a string.

In [2]:
String = input("Enter any String: ")
Reverse_String = String[::-1]
print(Reverse_String)

Enter any String:  Bishwajit

tijawhsiB

2. Check if a string is a palindrome.

In [6]:
def isPalindrome(String):
    return String == String[::-1]
String = input("Enter any String: ")
Result = isPalindrome(String)
 
if Result:
    print("Yes this is Palindrome String")
else:
    print("No this is not Palindrome String")

Enter any String:  BishsiB

Yes this is Palindrome String

3. Convert a string to uppercase.

In [1]:
s = input("Enter any string")

Enter any string Bishwajit

In [2]:
s.upper()

'BISHWAJIT'

4. Convert a string to lowercase.

In [3]:
s

'Bishwajit'

In [4]:
s.lower()

'bishwajit'

5. Count the number of vowels in a string.

In [6]:
s1 = input("Enter any string")
vowels = "aeiouAEIOU"

count = sum(s1.count(vowel) for vowel in vowels)
print(count)

Enter any string Bishwajit Kumar

5

6. Count the number of consonants in a string.

In [13]:
vcount = 0;  
ccount = 0;  
str = input("Enter any string")
  
str = str.lower();  
for i in range(0,len(str)):   
   
    if str[i] in ('a',"e","i","o","u"):  
        vcount = vcount + 1;  
    elif (str[i] >= 'a' and str[i] <= 'z'):  
        ccount = ccount + 1;  
print("Total no consonants are", ccount );

Enter any string Bishwajit Kumar

Total no consonants are 9

7. Remove all whitespaces from a string.

In [14]:
s2

'aeioub'

In [16]:
S5 = "bish wa jit kumar"

In [17]:
S5.replace(" ","")

'bishwajitkumar'

8. Find the length of a string without using the `len()` function.

In [18]:
S3 = input("Enter any string")

count = 0

for i in S3:
 
    count+=1
print(count)

Enter any string Bishwajit

9

9. Check if a string contains a specific word.

In [27]:
input_string = input("Enter a string: ")
specific_word = input("Enter the specific word to check for: ")

if specific_word in input_string:
    print(f"The string contains the word '{specific_word}'.")
else:
    print(f"The string does not contain the word '{specific_word}'.")

Enter a string:  My name is Bishwajit
Enter the specific word to check for:  Bishwajit

The string contains the word 'Bishwajit'.

10. Replace a word in a string with another word.

In [29]:
input_string = input("Enter a sentence: ")

old_word = input("Enter the word to be replaced: ")
new_word = input("Enter the new word: ")

modified_string = input_string.replace(old_word, new_word)

print("Modified string:", modified_string)

Enter a sentence:  My name is Bishwajit
Enter the word to be replaced:  Bishwajit
Enter the new word:  Bissu

Modified string: My name is Bissu

11. Count the occurrences of a word in a string.

In [3]:
def count_word_occurrences(input_string, target_word):
    word_count = 0
    words = input_string.split()
    for word in words:
        if word == target_word:
            word_count += 1
    return word_count
input_string = input("Enter your String")

target_word = "Bishwajit"

result = count_word_occurrences(input_string, target_word)
print(f"The word '{target_word}' appears {result} times in the input string.")

Enter your String Bishwajit 'Bishwajit'

The word 'Bishwajit' appears 1 times in the input string.

12. Find the first occurrence of a word in a string.

In [5]:
def find_first_occurrence(text, word):
    index = text.find(word)
    if index == -1:
        return None 
    return index
text = "Bissu Hero hai."
word = "Hero"
result = find_first_occurrence(text, word)
print("Index of the first occurrence:", result)

Index of the first occurrence: 6

13. Find the last occurrence of a word in a string.

In [7]:
def find_last_occurrence(text, word):
    index = text.rfind(word)
    if index == -1:
        return None  
    return index

text = "Bissu Hero hai or Bishwajit Hero hai"
word = "Hero"
result = find_last_occurrence(text, word)
print("Index of the last occurrence:", result)

Index of the last occurrence: 28

14. Split a string into a list of words.

In [8]:
S1 = "My name is Bishwajit"
S1.split()

['My', 'name', 'is', 'Bishwajit']

15. Join a list of words into a string.

In [14]:
S2 = ["My", "name", "is", "Bishwajit"]
joined_string = ' '.join(S2)
print(joined_string)

My name is Bishwajit

16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [15]:
S3 = "Jai Shree Ram"
S3.replace(" ","_")

'Jai_Shree_Ram'

17. Check if a string starts with a specific word or phrase.

In [16]:
def starts_with(text, prefix):
    is_start = text.startswith(prefix)
    return is_start
text = "Mr. Bishwajit Kumar"
prefix = "Mr."
result = starts_with(text, prefix)
if result:
    print("The text starts with the prefix.")
else:
    print("The text does not start with the prefix.")

The text starts with the prefix.

18. Check if a string ends with a specific word or phrase.

In [17]:
def ends_with(text, suffix):
    is_end = text.endswith(suffix)
    return is_end
text = "Mr. Bishwajit Kumar"
suffix = "Mr."
result = ends_with(text, suffix)
if result:
    print("The text ends with the suffix.")
else:
    print("The text does not end with the suffix.")

The text does not end with the suffix.

19. Convert a string to title case (e.g., "hello world" to "Hello World").

In [18]:
S3

'Jai Shree Ram'

In [20]:
S4 = "jai shree ram"
S4.title()

'Jai Shree Ram'

20. Find the longest word in a string.

In [21]:
def find_longest_word(text):
    words = text.split()
    longest_word = ""
    max_length = 0
    for word in words:
        if len(word) > max_length:
            max_length = len(word)
            longest_word = word
    return longest_word
text = "Find the longest word in a string."
longest_word = find_longest_word(text)
print("Longest word:", longest_word)

Longest word: longest

21. Find the shortest word in a string.

In [22]:
def find_shortest_word(text):
    words = text.split()
    shortest_word = None
    min_length = float('inf')  
    for word in words:
        if len(word) < min_length:
            min_length = len(word)
            shortest_word = word
    return shortest_word
text = "Find the shortest word in a string."
shortest_word = find_shortest_word(text)
print("Shortest word:", shortest_word)

Shortest word: a

22. Reverse the order of words in a string.

In [26]:
S4

'jai shree ram'

In [27]:
s = S4.split()[::-1]
l = []
for i in s:
	l.append(i)
print(" ".join(l))

ram shree jai

23. Check if a string is alphanumeric.

In [34]:
def is_alphanumeric(text):
    return text.isalnum()
text = "Bishu123"
result = is_alphanumeric(text)
if result:
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

The string is alphanumeric.

24. Extract all digits from a string.

In [35]:
def extract_digits(text):
    digits = ""
    for char in text:
        if char.isdigit():
            digits += char
    return digits
text = "hdihh6426455216452grweufguwgfy"
extracted_digits = extract_digits(text)
print("Extracted digits:", extracted_digits)

Extracted digits: 6426455216452

25. Extract all alphabets from a string.

In [36]:
def extract_alphabets(input_string):
    alphabets = ' '.join([char for char in input_string if char.isalpha()])
    return alphabets

input_string = "75472462B5352i5235s44s425453u4554"
result = extract_alphabets(input_string)
print(result)

B i s s u

26. Count the number of uppercase letters in a string.

In [37]:
def count_uppercase(input_string):
    uppercase_count = sum(1 for char in input_string if char.isupper())
    return uppercase_count
input_string = "bhfadfnBIhhSShhU"
result = count_uppercase(input_string)
print(result)

5

27. Count the number of lowercase letters in a string.

In [38]:
def count_lowercase(input_string):
    lowercase_count = sum(1 for char in input_string if char.islower())
    return lowercase_count
input_string = "BokaroBishwajit"
result = count_lowercase(input_string)
print(result)

13

28. Swap the case of each character in a string.

In [39]:
def swap_case(input_string):
    swapped_string = input_string.swapcase()
    return swapped_string

input_string = "BiSSuBiSHwajit"
result = swap_case(input_string)
print(result)

bIssUbIshWAJIT

29. Remove a specific word from a string.

In [40]:
def remove_word(input_string, word_to_remove):
    words = input_string.split()  
    filtered_words = [word for word in words if word != word_to_remove]  
    modified_string = ' '.join(filtered_words)  
    return modified_string

input_string = "My name is Bishu Bishwajit Kumar"
word_to_remove = "Bishu"
result = remove_word(input_string, word_to_remove)
print(result)

My name is Bishwajit Kumar

30. Check if a string is a valid email address.

In [42]:
import re  
def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  
    if re.match(pattern, email):
        return True
    else:
        return False

email1 = "bishwajit@email.com"
result1 = is_valid_email(email1)
print(result1)

True

31. Extract the username from an email address string.

In [44]:
def extract_username(email):
    username = email.split('@')[0]  
    return username
email = "bishwajitkumar1000@email.com"
result = extract_username(email)
print(result)

bishwajitkumar1000

32. Extract the domain name from an email address string.

In [45]:
def extract_domain(email):
    domain = email.split('@')[1]  
    return domain

email = "bishwajitkumar1000@email.com"
result = extract_domain(email)
print(result)

email.com

33. Replace multiple spaces in a string with a single space.

In [46]:
def replace_multiple_spaces(input_string):
    cleaned_string = ' '.join(input_string.split())  
    return cleaned_string

input_string = "Hey           bro kaise       ho          "
result = replace_multiple_spaces(input_string)
print(result)

Hey bro kaise ho

34. Check if a string is a valid URL.

In [47]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  
    except ValueError:
        return False

url1 = "https://www.pwskills.com"
result1 = is_valid_url(url1)
print(result1)

True

35. Extract the protocol (http or https) from a URL string.

In [48]:
def extract_protocol(url):
    protocol_end = url.find("://")

    if protocol_end != -1:
        protocol = url[:protocol_end]
        return protocol
    else:
        return None

url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"

protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)

print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

36. Find the frequency of each character in a string.

In [50]:
def character_frequency(input_string):
    frequency = {}  

    for char in input_string:
        if char in frequency:
            frequency[char] += 1  
        else:
            frequency[char] = 1   

    return frequency

input_str = "Bishwajit Kumar Bissu bbbb Bissu"

char_freq = character_frequency(input_str)

for char, freq in char_freq.items():
    print(f"Character: '{char}', Frequency: {freq}")

Character: 'B', Frequency: 3
Character: 'i', Frequency: 4
Character: 's', Frequency: 5
Character: 'h', Frequency: 1
Character: 'w', Frequency: 1
Character: 'a', Frequency: 2
Character: 'j', Frequency: 1
Character: 't', Frequency: 1
Character: ' ', Frequency: 4
Character: 'K', Frequency: 1
Character: 'u', Frequency: 3
Character: 'm', Frequency: 1
Character: 'r', Frequency: 1
Character: 'b', Frequency: 4

37. Remove all punctuation from a string.

In [52]:
import string

def remove_punctuation(input_string):
    translator = str.maketrans("", "", string.punctuation)
    clean_string = input_string.translate(translator)

    return clean_string

input_str = "hey!! Bro$ kaise ho????"

cleaned_str = remove_punctuation(input_str)

print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

Original string: hey!! Bro$ kaise ho????
Cleaned string: hey Bro kaise ho

38. Check if a string contains only digits.

In [54]:
def contains_only_digits(input_string):
    return input_string.isdigit()
string1 = "12345"
string2 = "Bissu123"
string3 = "456.789"

result1 = contains_only_digits(string1)
result2 = contains_only_digits(string2)
result3 = contains_only_digits(string3)

print(f"'{string1}' contains only digits:", result1)
print(f"'{string2}' contains only digits:", result2)
print(f"'{string3}' contains only digits:", result3)

'12345' contains only digits: True
'Bissu123' contains only digits: False
'456.789' contains only digits: False

39. Check if a string contains only alphabets.

In [55]:
def contains_only_alphabets(input_string):
    return input_string.isalpha()

string1 = "Bishwajit"
string2 = "Bissu123"
string3 = "12345"

result1 = contains_only_alphabets(string1)
result2 = contains_only_alphabets(string2)
result3 = contains_only_alphabets(string3)

print(f"'{string1}' contains only alphabets:", result1)
print(f"'{string2}' contains only alphabets:", result2)
print(f"'{string3}' contains only alphabets:", result3)

'Bishwajit' contains only alphabets: True
'Bissu123' contains only alphabets: False
'12345' contains only alphabets: False

40. Convert a string to a list of characters.

In [56]:
def string_to_list(input_string):
    char_list = list(input_string)
    return char_list
input_str = "Hi guys welcome back to my film"

char_list = string_to_list(input_str)

print("Original string:", input_str)
print("List of characters:", char_list)

Original string: Hi guys welcome back to my film
List of characters: ['H', 'i', ' ', 'g', 'u', 'y', 's', ' ', 'w', 'e', 'l', 'c', 'o', 'm', 'e', ' ', 'b', 'a', 'c', 'k', ' ', 't', 'o', ' ', 'm', 'y', ' ', 'f', 'i', 'l', 'm']

41. Check if two strings are anagrams.

In [57]:
def are_anagrams(str1, str2):
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    return sorted(str1) == sorted(str2)

string1 = "listen"
string2 = "silent"
string3 = "hello"
string4 = "world"

result1 = are_anagrams(string1, string2)
result2 = are_anagrams(string3, string4)

print(f"'{string1}' and '{string2}' are anagrams:", result1)
print(f"'{string3}' and '{string4}' are anagrams:", result2)

'listen' and 'silent' are anagrams: True
'hello' and 'world' are anagrams: False

42. Encode a string using a Caesar cipher.

In [61]:
def caesar_cipher(text, shift):

  encoded_text = ""

  for char in text:

    if char.isalpha():
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      encoded_char = char
    encoded_text += encoded_char

  return encoded_text

text = "Python"
shift = 3
encoded_text = caesar_cipher(text, shift)

print("Encoded text:", encoded_text)

Encoded text: mbwkrq

43. Decode a Caesar cipher encoded string.

In [62]:
def caesar_cipher_decoder(text, shift):
    decoded_text = ""
    for char in text:
        if char.isalpha():
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            decoded_char = char

        decoded_text += decoded_char
    return decoded_text

text = "mbwkrq"
shift = 3

decoded_text = caesar_cipher_decoder(text, shift)

print("Decoded text:", decoded_text)

Decoded text: jython

44. Find the most frequent word in a string.

In [67]:
import re
from collections import Counter

def most_frequent_word(input_string):
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()
    words = clean_string.split()
    word_counter = Counter(words)

    most_common_word = word_counter.most_common(1)[0][0]

    return most_common_word

input_str = "hey guys how are you guys hello guys"

most_common = most_frequent_word(input_str)

print("Most frequent word:", most_common)

Most frequent word: guys

45. Find all unique words in a string.

In [68]:
import re

def unique_words(input_string):
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()
    words = set(clean_string.split())

    return words
input_str = "Hello world, hello there! How's the world?"

unique_word_set = unique_words(input_str)

print("Unique words:", unique_word_set)

Unique words: {'hows', 'world', 'there', 'the', 'hello'}

46. Count the number of syllables in a string.

In [69]:
import re

def count_syllables(word):
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

word1 = "hello"
word2 = "banana"
word3 = "syllable"

syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

47. Check if a string contains any special characters.

In [73]:
import re

def contains_special_characters(input_string):
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')
    match = pattern.search(input_string)
    return bool(match)
string1 = "Hello, world!"
string2 = "Hey"
string3 = "@@"

result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)

print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Hello, world!' contains special characters: True
'Hey' contains special characters: False
'@@' contains special characters: True

48. Remove the nth word from a string.

In [76]:
def remove_nth_word(input_string, n):
    words = input_string.split()

    if n >= 1 and n <= len(words):
        removed_word = words.pop(n - 1)
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None
input_str = "My name is Bishwajit Kumar"
n_value = 5

modified_str, removed_word = remove_nth_word(input_str, n_value)

print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Original string: My name is Bishwajit Kumar
Modified string: My name is Bishwajit
Removed word: Kumar

49. Insert a word at the nth position in a string.

In [77]:
n = input()
def remove_nth_word(input_string, n):
    words = input_string.split()

    if n >= 1 and n <= len(words):
        removed_word = words.pop(n - 1)
        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None
input_str = "My name is Bishwajit Kumar"
n_value = 5

modified_str, removed_word = remove_nth_word(input_str, n_value)

print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

 Bissu

Original string: My name is Bishwajit Kumar
Modified string: My name is Bishwajit
Removed word: Kumar

50. Convert a CSV string to a list of lists.

In [79]:
def csv_string_to_list(csv_string):
    lines = csv_string.split('\n')
    result = []

    for line in lines:
        fields = line.split(',')
        result.append(fields)

    return result

csv_data = "Name, Age, Country\nBishwajit, 25, India"

list_of_lists = csv_string_to_list(csv_data)

for row in list_of_lists:
    print(row)

['Name', ' Age', ' Country']
['Bishwajit', ' 25', ' India']

List Based Practice Problem :

1. Create a list with integers from 1 to 10.

In [82]:
list = [i for i in range(1, 11)]

print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

2. Find the length of a list without using the `len()` function.

In [83]:
def custom_len(input_list):
    count = 0
    for _ in input_list:
        count += 1
    return count

my_list = [10, 20, 30, 40, 50]

length = custom_len(my_list)

print("Length of the list:", length)

Length of the list: 5

3. Append an element to the end of a list.

In [85]:
list = [10, 20, 30]

new_element = 40

list.append(new_element)

print("Updated list:", list)

Updated list: [10, 20, 30, 40]

4. Insert an element at a specific index in a list.

In [86]:
list = [10, 20, 30, 40, 50]

new_element = 25

index_to_insert = 2

list.insert(index_to_insert, new_element)

print("Updated list:", list)

Updated list: [10, 20, 25, 30, 40, 50]

5. Remove an element from a list by its value.

In [88]:
list = [10, 20, 30, 40, 50]

list.remove(30)

print("Updated list:", list)

Updated list: [10, 20, 40, 50]

6. Remove an element from a list by its index.

In [89]:
list = [10, 20, 30, 40, 50]

index_to_remove = 2

removed_element = my_list.pop(index_to_remove)

print("Updated list:", my_list)
print("Removed element:", removed_element)

Updated list: [10, 20, 40, 50]
Removed element: 30

7. Check if an element exists in a list.

In [92]:
list = [10, 20, 30, 40, 50]

element_to_check = 30

if element_to_check in list:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

30 exists in the list.

8. Find the index of the first occurrence of an element in a list.

In [93]:
list = [10, 20, 30, 40, 50, 30]

element_to_find = 30

index = list.index(element_to_find)

print(f"The index of {element_to_find} is {index}")

The index of 30 is 2

9. Count the occurrences of an element in a list.

In [94]:
my_list = [10, 20, 30, 40, 50, 30, 30]

element_to_count = 30

count = my_list.count(element_to_count)

print(f"The element {element_to_count} occurs {count} times in the list.")

The element 30 occurs 3 times in the list.

10. Reverse the order of elements in a list.

In [95]:
my_list = [10, 20, 30, 40, 50]

my_list.reverse()

print("Reversed list:", my_list)

Reversed list: [50, 40, 30, 20, 10]

11. Sort a list in ascending order.

In [96]:
my_list = [50, 10, 30, 40, 20]
my_list.sort()
print("Sorted list in ascending order:", my_list)

Sorted list in ascending order: [10, 20, 30, 40, 50]

12. Sort a list in descending order.

In [97]:
my_list = [50, 10, 30, 40, 20]

my_list.sort(reverse=True)

print("Sorted list in descending order:", my_list)

Sorted list in descending order: [50, 40, 30, 20, 10]

13. Create a list of even numbers from 1 to 20.

In [98]:
even_numbers = [x for x in range(2, 21, 2)]

print("List of even numbers:", even_numbers)

List of even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

14. Create a list of odd numbers from 1 to 20.

In [99]:
odd_numbers = [x for x in range(1, 21, 2)]

print("List of odd numbers:", odd_numbers)

List of odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

15. Find the sum of all elements in a list.

In [100]:
my_list = [10, 20, 30, 40, 50]

total_sum = sum(my_list)

print("Sum of elements:", total_sum)

Sum of elements: 150

16. Find the maximum value in a list.

In [101]:
my_list = [10, 20, 30, 40, 50]

max_value = max(my_list)

print("Maximum value:", max_value)

Maximum value: 50

17. Find the minimum value in a list.

In [102]:
my_list = [10, 20, 30, 40, 50]

min_value = min(my_list)

print("Minimum value:", min_value)

Minimum value: 10

18. Create a list of squares of numbers from 1 to 10.

In [103]:
squares = [x ** 2 for x in range(1, 11)]

print("List of squares:", squares)

List of squares: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

19. Create a list of random numbers.

In [105]:
import random

random_integers = [random.randint(1, 100) for _ in range(10)]

print("List of random integers:", random_integers)

List of random integers: [28, 51, 78, 59, 17, 33, 84, 21, 75, 68]

20. Remove duplicates from a list.

In [115]:
list = [10, 20, 30, 20, 40, 10, 50, 30, 60]

unique_list = set(list)

print("List without duplicates:", unique_list)

List without duplicates: {40, 10, 50, 20, 60, 30}

21. Find the common elements between two lists.

In [125]:
def common_member(list1, list2):
	result = [i for i in list1 if i in list2]
	return result

list1 = [1, 2, 3, 4, 5, 6]
list2 = [5, 6, 7, 8, 9, 10]

print("The common elements in the two lists are: ")
print(common_member(list1, list2))

The common elements in the two lists are:
[5, 6]

22. Find the difference between two lists.

In [2]:
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]

difference = list(set(list1).difference(list2))

print("Difference between lists:", difference)

Difference between lists: [20, 10]

23. Merge two lists.

In [3]:
list1 = [10, 20, 30]
list2 = [40, 50, 60]

merged_list = list1 + list2

print("Merged list:", merged_list)

Merged list: [10, 20, 30, 40, 50, 60]

24. Multiply all elements in a list by 2.

In [4]:
my_list = [10, 20, 30, 40, 50]

multiplied_list = [x * 2 for x in my_list]

print("Multiplied list:", multiplied_list)

Multiplied list: [20, 40, 60, 80, 100]

25. Filter out all even numbers from a list.

In [6]:
list5 = [1, 2, 3, 4, 5]

out = []

for num in list5:
	if num % 2 == 0:
		out.append(num)

print("All even numbers are : ", out)

All even numbers are :  [2, 4]

26. Convert a list of strings to a list of integers.

In [7]:
string_list = ["10", "20", "30", "40", "50"]

integer_list = [int(x) for x in string_list]

print("List of integers:", integer_list)

List of integers: [10, 20, 30, 40, 50]

27. Convert a list of integers to a list of strings.

In [8]:
integer_list = [10, 20, 30, 40, 50]

string_list = [str(x) for x in integer_list]

print("List of strings:", string_list)

List of strings: ['10', '20', '30', '40', '50']

28. Flatten a nested list.

In [9]:
nested_list = [[1, 2, 3], [4, 5], [6, 7, 8, 9]]

def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
    return flattened

flattened_list = flatten_list(nested_list)

print("Flattened list:", flattened_list)

Flattened list: [1, 2, 3, 4, 5, 6, 7, 8, 9]

29. Create a list of the first 10 Fibonacci numbers.

In [10]:
def generate_fibonacci(n):
    fibonacci_list = [0, 1]  

    for i in range(2, n):
        next_fibonacci = fibonacci_list[i - 1] + fibonacci_list[i - 2]
        fibonacci_list.append(next_fibonacci)

    return fibonacci_list


fibonacci_numbers = generate_fibonacci(2)

print("First 10 Fibonacci numbers:", fibonacci_numbers)

First 10 Fibonacci numbers: [0, 1]

30. Check if a list is sorted.

In [12]:
def is_sorted_ascending(lst):
    for i in range(1, len(lst)):
        if lst[i] < lst[i - 1]:
            return False
    return True

ascending_list = [10, 20, 30, 40, 50]

if is_sorted_ascending(ascending_list):
    print("The list is sorted in ascending order.")
else:
    print("The list is not sorted in ascending order.")

The list is sorted in ascending order.

31. Rotate a list to the left by `n` positions.

In [13]:
def rotate_left(lst, n):
    n = n % len(lst)  
    rotated = lst[n:] + lst[:n]
    return rotated
my_list = [1, 2, 3, 4, 5, 6]
n = 2
rotated_list = rotate_left(my_list, n)
print("Rotated list:", rotated_list)

Rotated list: [3, 4, 5, 6, 1, 2]

32. Rotate a list to the right by `n` positions.

In [14]:
def rotate_right(lst, n):
    n = n % len(lst)  
    rotated = lst[-n:] + lst[:-n]
    return rotated
my_list = [1, 2, 3, 4, 5, 6]
n = 2
rotated_list = rotate_right(my_list, n)
print("Rotated list:", rotated_list)

Rotated list: [5, 6, 1, 2, 3, 4]

33. Create a list of prime numbers up to 50.

In [15]:
def is_prime(num):
    if num <= 1:
        return False
    if num <= 3:
        return True
    if num % 2 == 0 or num % 3 == 0:
        return False
    i = 5
    while i * i <= num:
      print(i,num)
      if num % i == 0 or num % (i + 2) == 0:
          return False
      i += 6
    return True
prime_numbers = [num for num in range(2,30) if is_prime(num)]
print("List of prime numbers up to 50:", prime_numbers)

5 25
5 29
List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

34. Split a list into chunks of size `n`.

In [16]:
def sieve_of_eratosthenes(limit):
    primes = []
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False

    for num in range(2, int(limit ** 0.5) + 1):
        if is_prime[num]:
            primes.append(num)
            for multiple in range(num * num, limit + 1, num):
                is_prime[multiple] = False

    for num in range(int(limit ** 0.5) + 1, limit + 1):
        if is_prime[num]:
            primes.append(num)

    return primes
prime_numbers = sieve_of_eratosthenes(50)
print("List of prime numbers up to 50:", prime_numbers)

List of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

35. Find the second largest number in a list.

In [17]:
my_list = [10, 5, 20, 15, 30, 25]
sorted_list = sorted(set(my_list))
if len(sorted_list) >= 2:
    second_largest = sorted_list[-2]
    print("Second largest number:", second_largest)
else:
    print("The list does not contain enough elements.")

Second largest number: 25

36. Replace every element in a list with its square.

In [18]:
my_list = [2, 4, 6, 8, 10]
squared_list = [x ** 2 for x in my_list]
print("Squared list:", squared_list)

Squared list: [4, 16, 36, 64, 100]

37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [19]:
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
my_dict = {element: index for index, element in enumerate(my_list)}
print("Converted dictionary:", my_dict)

Converted dictionary: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3, 'elderberry': 4}

38. Shuffle the elements of a list randomly.

In [20]:
import random
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
random.shuffle(my_list)
print("Shuffled list:", my_list)

Shuffled list: [5, 1, 4, 7, 10, 6, 3, 8, 2, 9]

39. Create a list of the first 10 factorial numbers.

In [21]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)
factorial_numbers = [factorial(i) for i in range(10)]
print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

40. Check if two lists have at least one element in common.

In [22]:
def has_common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False
list1 = [1, 2, 3, 4, 5]
list2 = [4, 5, 6, 7, 8]
if has_common_element(list1, list2):
    print("The lists have at least one common element.")
else:
    print("The lists do not have any common elements.")

The lists have at least one common element.

41. Remove all elements from a list.

In [23]:
my_list = [1, 2, 3, 4, 5]
my_list.clear()
print("Empty list:", my_list)

Empty list: []

42. Replace negative numbers in a list with 0.

In [24]:
my_list = [10, -5, 20, -15, 30, -25]
for i in range(len(my_list)):
    if my_list[i] < 0:
        my_list[i] = 0
print("List after replacing negative numbers with 0:", my_list)

List after replacing negative numbers with 0: [10, 0, 20, 0, 30, 0]

43. Convert a string into a list of words.

In [25]:
my_string = "Hello, this is a sample sentence."
word_list = my_string.split()
print("List of words:", word_list)

List of words: ['Hello,', 'this', 'is', 'a', 'sample', 'sentence.']

44. Convert a list of words into a string.

In [28]:
word_list = ["This,", "is", "my", "name"]
my_string = " ".join(word_list)
print("Converted string:", my_string)

Converted string: This, is my name

45. Create a list of the first `n` powers of 2.

In [29]:
n = 5
power_list = [2 ** i for i in range(n)]
print("List of the first", n, "powers of 2:", power_list)

List of the first 5 powers of 2: [1, 2, 4, 8, 16]

46. Find the longest string in a list of strings.

In [31]:
string_list = ["My", "name", "is", "Bishwajit", "Kumar"]
longest_string = ""
for s in string_list:
    if len(s) > len(longest_string):
        longest_string = s
print("Longest string:", longest_string)

Longest string: Bishwajit

47. Find the shortest string in a list of strings.

In [32]:
string_list = ["My", "name", "is", "Bishwajit", "Kumar"]
shortest_string = string_list[0]  
for s in string_list:
    if len(s) < len(shortest_string):
        shortest_string = s
print("Shortest string:", shortest_string)

Shortest string: My

48. Create a list of the first `n` triangular numbers.

In [33]:
def triangular_numbers(n):
    return [i * (i + 1) // 2 for i in range(1, n + 1)]
n = 5
triangular_list = triangular_numbers(n)
print("List of the first", n, "triangular numbers:", triangular_list)

List of the first 5 triangular numbers: [1, 3, 6, 10, 15]

49. Check if a list contains another list as a subsequence.

In [34]:
def is_subsequence(subsequence, main_list):
    subseq_index = 0  
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False
main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]
if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

50. Swap two elements in a list by their indices.

In [35]:
my_list = [1, 2, 3, 4, 5]
index1 = 1
index2 = 3

temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

print("List after swapping elements:", my_list)

List after swapping elements: [1, 4, 3, 2, 5]

Tuple Based Practice Problem :
1. Create a tuple with integers from 1 to 5.

In [36]:
my_tuple = (10, 20, 30, 40, 50)

2. Access the third element of a tuple.

In [38]:
my_tuple = (10, 20, 30, 40, 50)

third_element = my_tuple[2]
print("The third element of the tuple is:", third_element)

The third element of the tuple is: 30

3. Find the length of a tuple without using the `len()` function.

In [39]:
my_tuple = (10, 20, 30, 40, 50)
count = 0
for _ in my_tuple:
    count += 1
print("The length of the tuple is:", count)

The length of the tuple is: 5

4. Count the occurrences of an element in a tuple.

In [40]:
my_tuple = (10, 20, 30, 20, 40, 50, 20)

element_to_count = 20

count = 0

for item in my_tuple:
    if item == element_to_count:
        count += 1

print(f"The element {element_to_count} appears {count} times in the tuple.")

The element 20 appears 3 times in the tuple.

5. Find the index of the first occurrence of an element in a tuple.

In [41]:
my_tuple = (10, 20, 30, 20, 40, 50)

element_to_find = 20

index = -1 

for i, item in enumerate(my_tuple):
    if item == element_to_find:
        index = i
        break  
if index != -1:
    print(f"The first occurrence of {element_to_find} is at index {index}.")
else:
    print(f"{element_to_find} is not found in the tuple.")

The first occurrence of 20 is at index 1.

6. Check if an element exists in a tuple.

In [42]:
my_tuple = (10, 20, 30, 40, 50)

element_to_check = 30

if element_to_check in my_tuple:
    print(f"{element_to_check} exists in the tuple.")
else:
    print(f"{element_to_check} does not exist in the tuple.")

30 exists in the tuple.

7. Convert a tuple to a list.

In [43]:
my_tuple = (10, 20, 30, 40, 50)

my_list = list(my_tuple)

print("Tuple:", my_tuple)
print("List:", my_list)

Tuple: (10, 20, 30, 40, 50)
List: [10, 20, 30, 40, 50]

8. Convert a list to a tuple.

In [44]:
my_list = [10, 20, 30, 40, 50]

my_tuple = tuple(my_list)

print("List:", my_list)
print("Tuple:", my_tuple)

List: [10, 20, 30, 40, 50]
Tuple: (10, 20, 30, 40, 50)

9. Unpack the elements of a tuple into variables.

In [45]:
my_tuple = (10, 20, 30)

var1, var2, var3 = my_tuple

print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 10
var2: 20
var3: 30

10. Create a tuple of even numbers from 1 to 10.

In [46]:
even_numbers_list = [num for num in range(2, 11, 2)]  

even_numbers_tuple = tuple(even_numbers_list)

print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

11. Create a tuple of odd numbers from 1 to 10.

In [48]:
even_numbers_list = [num for num in range(2, 11, 2)]  

even_numbers_tuple = tuple(even_numbers_list)

print("Tuple of even numbers:", even_numbers_tuple)

Tuple of even numbers: (2, 4, 6, 8, 10)

12. Concatenate two tuples.

In [49]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

concatenated_tuple = tuple1 + tuple2

print("Concatenated tuple:", concatenated_tuple)

Concatenated tuple: (1, 2, 3, 4, 5, 6)

13. Repeat a tuple three times.

In [51]:
original_tuple = (1, 2, 3)

repeated_tuple = original_tuple * 3

print("Repeated tuple:", repeated_tuple)

Repeated tuple: (1, 2, 3, 1, 2, 3, 1, 2, 3)

14. Check if a tuple is empty.

In [53]:
empty_tuple = (1)
non_empty_tuple = (1, 2, 3)
if not empty_tuple:
    print("The empty_tuple is empty.")
else:
    print("The empty_tuple is not empty.")

if not non_empty_tuple:
    print("The non_empty_tuple is empty.")
else:
    print("The non_empty_tuple is not empty.")

The empty_tuple is not empty.
The non_empty_tuple is not empty.

15. Create a nested tuple.

In [54]:
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

print("Nested tuple:", nested_tuple)

Nested tuple: ((1, 2, 3), ('a', 'b', 'c'), (True, False))

16. Access the first element of a nested tuple.

In [55]:
nested_tuple = ((1, 2, 3), ('a', 'b', 'c'), (True, False))

first_element = nested_tuple[0]

print("First element of the nested tuple:", first_element)

First element of the nested tuple: (1, 2, 3)

17. Create a tuple with a single element.

In [56]:
single_element_tuple = (42,)  

print("Single element tuple:", single_element_tuple)

Single element tuple: (42,)

18. Compare two tuples.

In [57]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 4)

print("tuple1 == tuple2:", tuple1 == tuple2)  # Equality check
print("tuple1 != tuple2:", tuple1 != tuple2)  # Inequality check
print("tuple1 < tuple2:", tuple1 < tuple2)    # Less than check
print("tuple1 <= tuple2:", tuple1 <= tuple2)  # Less than or equal to check
print("tuple1 > tuple2:", tuple1 > tuple2)    # Greater than check
print("tuple1 >= tuple2:", tuple1 >= tuple2)  # Greater than or equal to check

tuple1 == tuple2: False
tuple1 != tuple2: True
tuple1 < tuple2: True
tuple1 <= tuple2: True
tuple1 > tuple2: False
tuple1 >= tuple2: False

19. Delete a tuple.

In [6]:
tuple1 = (1, 2, 3, 4, 5)

In [7]:
tuple1

(1, 2, 3, 4, 5)

del tuple1

print(tuple1) #error

20. Slice a tuple.

In [10]:
my_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

sliced_tuple = my_tuple[2:6] 

print("Sliced tuple:", sliced_tuple)

Sliced tuple: (3, 4, 5, 6)

21. Find the maximum value in a tuple.

In [11]:
my_tuple = (10, 20, 5, 45, 30)
max_value = max(my_tuple)
print("Maximum value:", max_value)

Maximum value: 45

22. Find the minimum value in a tuple.

In [12]:
my_tuple = (10, 20, 5, 45, 30)

min_value = min(my_tuple)

print("Minimum value:", min_value)

Minimum value: 5

23. Convert a string to a tuple of characters.

In [14]:
my_string = "Bishwajit"

tuple_of_characters = tuple(my_string)

print("Tuple of characters:", tuple_of_characters)

Tuple of characters: ('B', 'i', 's', 'h', 'w', 'a', 'j', 'i', 't')

24. Convert a tuple of characters to a string.

In [17]:
tuple_of_characters = ('B', 'i', 's', 'h', 'w', 'a', 'j', 'i', 't')

string_from_tuple = ''.join(tuple_of_characters)

print("String from tuple:", string_from_tuple)

String from tuple: Bishwajit

25. Create a tuple from multiple data types.

In [18]:
mixed_tuple = (1, "hello", 3.14, True)

print(mixed_tuple)

(1, 'hello', 3.14, True)

26. Check if two tuples are identical.

In [19]:
tuple1 = (1, 2, 3)
tuple2 = (1, 2, 3)
tuple3 = (4, 5, 6)

are_identical1 = tuple1 == tuple2
are_identical2 = tuple1 == tuple3

print("tuple1 and tuple2 are identical:", are_identical1)
print("tuple1 and tuple3 are identical:", are_identical2)

tuple1 and tuple2 are identical: True
tuple1 and tuple3 are identical: False

27. Sort the elements of a tuple.

In [20]:
my_tuple = (5, 2, 8, 1, 3)

sorted_tuple = tuple(sorted(my_tuple))

print("Sorted tuple:", sorted_tuple)

Sorted tuple: (1, 2, 3, 5, 8)

28. Convert a tuple of integers to a tuple of strings.

In [21]:
tuple_of_integers = (1, 2, 3, 4, 5)

tuple_of_strings = tuple(str(item) for item in tuple_of_integers)

print("Tuple of strings:", tuple_of_strings)

Tuple of strings: ('1', '2', '3', '4', '5')

29. Convert a tuple of strings to a tuple of integers.

In [22]:
tuple_of_strings = ('10', '20', '30', '40', '50')

tuple_of_integers = tuple(int(item) for item in tuple_of_strings)

print("Tuple of integers:", tuple_of_integers)

Tuple of integers: (10, 20, 30, 40, 50)

30. Merge two tuples.

In [23]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)

merged_tuple = tuple1 + tuple2

print("Merged tuple:", merged_tuple)

Merged tuple: (1, 2, 3, 4, 5, 6)

31. Flatten a nested tuple.

In [24]:
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

flattened_tuple = tuple(flatten_tuple(nested_tuple))

print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

32. Create a tuple of the first 5 prime numbers.

In [25]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

prime_numbers_tuple = tuple(prime_numbers_list)

print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

33. Check if a tuple is a palindrome.

In [26]:
def is_palindrome(tup):
    return tup == tup[::-1]

palindrome_tuple = (1, 2, 3, 2, 1)
non_palindrome_tuple = (1, 2, 3, 4, 5)

is_palindrome1 = is_palindrome(palindrome_tuple)
is_palindrome2 = is_palindrome(non_palindrome_tuple)

print("palindrome_tuple is a palindrome:", is_palindrome1)
print("non_palindrome_tuple is a palindrome:", is_palindrome2)

palindrome_tuple is a palindrome: True
non_palindrome_tuple is a palindrome: False

34. Create a tuple of squares of numbers from 1 to 5.

In [27]:
squares_tuple = tuple(x ** 2 for x in range(1, 6))

print("Tuple of squares:", squares_tuple)

Tuple of squares: (1, 4, 9, 16, 25)

35. Filter out all even numbers from a tuple.

In [28]:
original_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

filtered_tuple = tuple(num for num in original_tuple if num % 2 != 0)

print("Filtered tuple:", filtered_tuple)

Filtered tuple: (1, 3, 5, 7, 9)

36. Multiply all elements in a tuple by 2.

In [29]:
original_tuple = (1, 2, 3, 4, 5)

doubled_tuple = tuple(num * 2 for num in original_tuple)

print("Doubled tuple:", doubled_tuple)

Doubled tuple: (2, 4, 6, 8, 10)

37. Create a tuple of random numbers.

In [30]:
import random

random_tuple = tuple(random.randint(1, 100) for _ in range(10))  # Generating 10 random numbers between 1 and 100

print("Random tuple:", random_tuple)

Random tuple: (49, 62, 90, 26, 67, 100, 74, 13, 49, 89)

38. Check if a tuple is sorted.

In [31]:
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True

sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)

is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

39. Rotate a tuple to the left by `n` positions.

In [32]:
def rotate_tuple_left(tup, n):
    n = n % len(tup)  
    rotated_tuple = tup[n:] + tup[:n]  
    return rotated_tuple

my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

40. Rotate a tuple to the right by `n` positions.

In [33]:
def rotate_tuple_right(tup, n):
    n = n % len(tup)  
    rotated_tuple = tup[-n:] + tup[:-n]  
    return rotated_tuple

my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

41. Create a tuple of the first 5 Fibonacci numbers.

In [34]:
def generate_fibonacci(n):
    fibonacci = [0, 1]  
    while len(fibonacci) < n:  
        next_number = fibonacci[-1] + fibonacci[-2]  
        fibonacci.append(next_number)  
    return tuple(fibonacci)  

fibonacci_tuple = generate_fibonacci(5)

print(fibonacci_tuple)

(0, 1, 1, 2, 3)

42. Create a tuple from user input.

In [35]:
input_str = input("Enter elements separated by commas: ")

input_list = input_str.split(',')

user_tuple = tuple(input_list)

print("User input tuple:", user_tuple)

Enter elements separated by commas:  My, name, is, Bishwajit

User input tuple: ('My', ' name', ' is', ' Bishwajit')

43. Swap two elements in a tuple.

In [36]:
my_tuple = (1, 2, 3, 4, 5)

index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

44. Reverse the elements of a tuple.

In [37]:
my_tuple = (1, 2, 3, 4, 5)

reversed_tuple = my_tuple[::-1]

print("Reversed tuple:", reversed_tuple)

Reversed tuple: (5, 4, 3, 2, 1)

45. Create a tuple of the first `n` powers of 2.

In [38]:
n = 5
powers_of_2_tuple = tuple(2 ** i for i in range(n))
print("Tuple of the first", n, "powers of 2:", powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

46. Find the longest string in a tuple of strings.

In [40]:
string_tuple = ("My", "name", "is", "Bishwajit", "Kumar")

longest_string = max(string_tuple, key=len)

print("Longest string:", longest_string)

Longest string: Bishwajit

47. Find the shortest string in a tuple of strings.

In [41]:
string_tuple = ("My", "name", "is", "Bishwajit", "Kumar")

shortest_string = min(string_tuple, key=len)

print("Shortest string:", shortest_string)

Shortest string: My

48. Create a tuple of the first `n` triangular numbers.

In [44]:
n = 10

triangular_numbers_tuple = tuple((i * (i + 1)) // 2 for i in range(1, n + 1))

print("Tuple of the first", n, "triangular numbers:", triangular_numbers_tuple)

Tuple of the first 10 triangular numbers: (1, 3, 6, 10, 15, 21, 28, 36, 45, 55)

49. Check if a tuple contains another tuple as a subsequence.

In [45]:
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

sub_tuple = (3, 4, 5)

contains_subseq = contains_subsequence(main_tuple, sub_tuple)

print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

50. Create a tuple of alternating 1s and 0s of length `n`.

In [46]:
n = 10

alternating_tuple = tuple(i % 2 for i in range(n))

print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

Set Based Practice Problem :
1. Create a set with integers from 1 to 5.

In [49]:
my_set = set()

my_set.add(1)
my_set.add(2)
my_set.add(3)
my_set.add(4)
my_set.add(5)

print(my_set)

{1, 2, 3, 4, 5}

2. Add an element to a set.

In [50]:
my_set = {1, 2, 3, 4, 5}

print("Original set:", my_set)

element_to_add = 6
my_set.add(element_to_add)

print("Set after adding element:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after adding element: {1, 2, 3, 4, 5, 6}

3. Remove an element from a set.

In [51]:
my_set = {1, 2, 3, 4, 5}

print("Original Set:", my_set)

element_to_remove = 3

my_set.remove(element_to_remove)

print("Set after removing", element_to_remove, ":", my_set)

Original Set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

4. Check if an element exists in a set.

In [52]:
my_set = {1, 3, 5, 7, 9}

element_to_check = int(input("Enter the element to check: "))

if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

Enter the element to check:  7

7 exists in the set.

5. Find the length of a set without using the `len()` function.

In [53]:
my_set = {1, 2, 3, 4, 5}
count = 0
for _ in my_set:
    count += 1
print("Length of the set:", count)

Length of the set: 5

6. Clear all elements from a set.

In [54]:
my_set = {1, 2, 3, 4, 5}

print("Original set:", my_set)
my_set.clear()

print("Set after clearing:", my_set)

Original set: {1, 2, 3, 4, 5}
Set after clearing: set()

7. Create a set of even numbers from 1 to 10.

In [55]:
even_numbers_set = set()
for num in range(1, 11):
    if num % 2 == 0:
        even_numbers_set.add(num)

print(even_numbers_set)

{2, 4, 6, 8, 10}

8. Create a set of odd numbers from 1 to 10.

In [56]:
odd_numbers_set = set()
for num in range(1, 11):
    if num % 2 != 0:
        odd_numbers_set.add(num)
print(odd_numbers_set)

{1, 3, 5, 7, 9}

9. Find the union of two sets.

In [57]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

union_result = set1.union(set2)

print("Set 1:", set1)
print("Set 2:", set2)
print("Union of Set 1 and Set 2:", union_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Union of Set 1 and Set 2: {1, 2, 3, 4, 5, 6, 7, 8}

10. Find the intersection of two sets.

In [58]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

intersection_result = set1.intersection(set2)

print("Set 1:", set1)
print("Set 2:", set2)
print("Intersection:", intersection_result)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Intersection: {3, 4, 5}

11. Find the difference between two sets.

In [59]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4, 5, 6, 7}

difference_set = set1.difference(set2)

print("Set 1:", set1)
print("Set 2:", set2)
print("Difference:", difference_set)

Set 1: {1, 2, 3, 4, 5}
Set 2: {3, 4, 5, 6, 7}
Difference: {1, 2}

12. Check if a set is a subset of another set.

In [60]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}

is_subset = set1.issubset(set2)

print("Is set1 a subset of set2:", is_subset)

Is set1 a subset of set2: True

13. Check if a set is a superset of another set.

In [61]:
set1 = {1, 2, 3, 4, 5, 6}
set2 = {3, 4}
is_superset = set1.issuperset(set2)
if is_superset:
    print("set1 is a superset of set2")
else:
    print("set1 is not a superset of set2")

set1 is a superset of set2

14. Create a set from a list.

In [62]:
my_list = [2, 4, 1, 4, 3, 2, 5]

my_set = set(my_list)

print("Original List:", my_list)
print("Set from List:", my_set)

Original List: [2, 4, 1, 4, 3, 2, 5]
Set from List: {1, 2, 3, 4, 5}

15. Convert a set to a list.

In [63]:
my_set = {3, 1, 4, 1, 5, 9, 2, 6, 5}
my_list = list(my_set)

print("Original Set:", my_set)
print("Converted List:", my_list)

Original Set: {1, 2, 3, 4, 5, 6, 9}
Converted List: [1, 2, 3, 4, 5, 6, 9]

16. Remove a random element from a set.

In [64]:
import random  
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)
random_element = random.choice(list(my_set))
my_set.remove(random_element)
print("Updated set after removing", random_element, ":", my_set)

Original set: {1, 2, 3, 4, 5}
Updated set after removing 4 : {1, 2, 3, 5}

17. Pop an element from a set.

In [65]:
my_set = {1, 2, 3, 4, 5}
print("Original set:", my_set)
popped_element = my_set.pop()
print("Popped element:", popped_element)
print("Set after popping:", my_set)

Original set: {1, 2, 3, 4, 5}
Popped element: 1
Set after popping: {2, 3, 4, 5}

18. Check if two sets have no elements in common.

In [66]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

common_elements = set1.intersection(set2)

if not common_elements:
    print("The two sets have no elements in common.")
else:
    print("The two sets have common elements:", common_elements)

The two sets have no elements in common.

19. Find the symmetric difference between two sets.

In [67]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

symmetric_difference = set1 ^ set2

print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {1, 2, 3, 6, 7, 8}

20. Update a set with elements from another set.

In [68]:
set1 = {1, 2, 3}
print("Set 1:", set1)

set2 = {3, 4, 5}
print("Set 2:", set2)

set1.update(set2)
print("Updated Set 1:", set1)

Set 1: {1, 2, 3}
Set 2: {3, 4, 5}
Updated Set 1: {1, 2, 3, 4, 5}

21. Create a set of the first 5 prime numbers.

In [69]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_set = set()
num = 2

while len(prime_set) < 5:
    if is_prime(num):
        prime_set.add(num)
    num += 1
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

22. Check if two sets are identical.

In [70]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 1, 5, 2, 4}  

if set1 == set2:
    print("The sets are identical.")
else:
    print("The sets are not identical.")

The sets are identical.

23. Create a frozen set.

In [71]:

elements = [1, 2, 3, 4, 5]

my_frozen_set = frozenset(elements)

print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

24. Check if a set is disjoint with another set.

In [72]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

disjoint_status = set1.isdisjoint(set2)

print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

25. Create a set of squares of numbers from 1 to 5.

In [73]:
squares_set = set()
for num in range(1, 6):
    square = num ** 2
    squares_set.add(square)
print(squares_set)

{1, 4, 9, 16, 25}

26. Filter out all even numbers from a set.

In [74]:
original_set = {1, 2, 3, 4, 5}
even_numbers_set = set()
for num in original_set:
    if num % 2 == 0:
        even_numbers_set.add(num)
print("Original Set:", original_set)
print("Even Numbers Set:", even_numbers_set)

Original Set: {1, 2, 3, 4, 5}
Even Numbers Set: {2, 4}

27. Multiply all elements in a set by 2.

In [75]:
original_set = {1, 2, 3, 4, 5}
multiplied_set = set()
for num in original_set:
    multiplied_num = num * 2
    multiplied_set.add(multiplied_num)

print("Original Set:", original_set)

print("Multiplied Set:", multiplied_set)

Original Set: {1, 2, 3, 4, 5}
Multiplied Set: {2, 4, 6, 8, 10}

28. Create a set of random numbers.

In [76]:
import random

num_random_numbers = 5
random_number_set = set()
for _ in range(num_random_numbers):
    random_num = random.randint(1, 100) 
    random_number_set.add(random_num)
print("Generated set of random numbers:", random_number_set)

Generated set of random numbers: {3, 19, 26, 27, 28}

29. Check if a set is empty.

In [77]:
my_set = set()

if not my_set:
    print("The set is empty.")
else:
    print("The set is not empty.")

The set is empty.

30. Create a nested set (hint: use frozenset).

In [78]:
set1 = {1, 2, 3, 4, 5}
set2 = {6, 7, 8, 9, 10}

frozen_set1 = frozenset(set1)
frozen_set2 = frozenset(set2)

nested_set = {frozen_set1, frozen_set2}

print("Nested Set:", nested_set)

Nested Set: {frozenset({1, 2, 3, 4, 5}), frozenset({6, 7, 8, 9, 10})}

31. Remove an element from a set using the discard method.

In [79]:
my_set = {1, 2, 3, 4, 5}

print("Initial set:", my_set)

element_to_remove = 3

my_set.discard(element_to_remove)

print("Set after removing", element_to_remove, ":", my_set)

Initial set: {1, 2, 3, 4, 5}
Set after removing 3 : {1, 2, 4, 5}

32. Compare two sets.

In [80]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

is_subset = set1.issubset(set2)

is_superset = set1.issuperset(set2)

intersection = set1.intersection(set2)

union = set1.union(set2)

difference1 = set1.difference(set2)

difference2 = set2.difference(set1)

print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {1, 2, 3, 4, 5}
Set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Elements in set1 but not in set2: {1, 2, 3}
Elements in set2 but not in set1: {8, 6, 7}

33. Create a set from a string.

In [82]:
input_string = "Bissu"

char_set = set(input_string)

print(char_set)

{'s', 'i', 'B', 'u'}

34. Convert a set of strings to a set of integers.

In [83]:
string_set = {"123", "456", "789"}

integer_set = set()

for string in string_set:
    integer_value = int(string)
    integer_set.add(integer_value)
print("Original String Set:", string_set)
print("Converted Integer Set:", integer_set)

Original String Set: {'456', '123', '789'}
Converted Integer Set: {456, 123, 789}

35. Convert a set of integers to a set of strings.

In [84]:
integers_set = {1, 2, 3, 4, 5}
strings_set = set()
for num in integers_set:
    num_str = str(num)
    strings_set.add(num_str)
print("Original integers_set:", integers_set)
print("Converted strings_set:", strings_set)

Original integers_set: {1, 2, 3, 4, 5}
Converted strings_set: {'5', '3', '1', '4', '2'}

36. Create a set from a tuple.

In [85]:
input_tuple = (1, 2, 3, 2, 4, 5, 1)
output_set = set(input_tuple)
print(output_set)

{1, 2, 3, 4, 5}

37. Convert a set to a tuple.

In [86]:
input_set = {1, 2, 3, 4, 5}
output_tuple = tuple(input_set)
print("Original set:", input_set)
print("Converted tuple:", output_tuple)

Original set: {1, 2, 3, 4, 5}
Converted tuple: (1, 2, 3, 4, 5)

38. Find the maximum value in a set.

In [87]:
my_set = {15, 7, 22, 13, 8}

max_value = None

for num in my_set:
    if max_value is None or num > max_value:
        max_value = num  

print("Maximum value:", max_value)

Maximum value: 22

39. Find the minimum value in a set.

In [88]:
number_set = {15, 8, 23, 4, 42, 11}
min_value = None

for num in number_set:
    if min_value is None or num < min_value:
        min_value = num
print("The minimum value in the set is:", min_value)

The minimum value in the set is: 4

40. Create a set from user input.

In [89]:
user_set = set()
print("Enter elements for the set (type 'done' to finish):")
while True:
    user_input = input("> ")  

    if user_input.lower() == 'done':
        break  
    user_set.add(user_input)

print("Final set:", user_set)

Enter elements for the set (type 'done' to finish):

>  1,2,3,4,5,66
>  4,4,5,5,6,6,7,7
>  done

Final set: {'1,2,3,4,5,66', '4,4,5,5,6,6,7,7'}

41. Check if the intersection of two sets is empty.

In [90]:
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

intersection_result = set1.intersection(set2)

if not intersection_result:
    print("The intersection of the two sets is empty.")
else:
    print("The intersection of the two sets is not empty.")

The intersection of the two sets is not empty.

42. Create a set of the first 5 Fibonacci numbers.

In [91]:
fibonacci_set = set()
a, b = 0, 1
for _ in range(6):
    fibonacci_set.add(a)
    a, b = b, a + b
print("Set of the first 5 Fibonacci numbers:", fibonacci_set)

Set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

43. Remove duplicates from a list using sets.

In [92]:
original_list = [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
unique_set = set(original_list)
unique_list = list(unique_set)
print("Original List:", original_list)
print("List with Duplicates Removed:", unique_list)

Original List: [2, 4, 6, 8, 4, 10, 6, 12, 14, 8]
List with Duplicates Removed: [2, 4, 6, 8, 10, 12, 14]

44. Check if two sets have the same elements, regardless of their count.

In [94]:
def have_same_elements(set1, set2):
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))
    return sorted_list1 == sorted_list2
set1 = {1, 2, 3, 2, 1}
set2 = {3, 1, 2}

result = have_same_elements(set1, set2)

if result:
    print("The sets have the same elements.")
else:
    print("The sets do not have the same elements.")

The sets have the same elements.

45. Create a set of the first `n` powers of 2.

In [96]:
def generate_powers_of_2(n):
    powers_of_2 = set()
    for i in range(n):
        power = 2 ** i
        powers_of_2.add(power)
    return powers_of_2
n = 5
powers_set = generate_powers_of_2(n)
print(powers_set)

{1, 2, 4, 8, 16}

46. Find the common elements between a set and a list.

In [97]:
my_set = {3, 7, 9, 12, 15}
my_list = [7, 12, 5, 9]

list_to_set = set(my_list)

common_elements = []

for element in my_set:
    if element in list_to_set:
        common_elements.append(element)
print("Common elements:", common_elements)

Common elements: [7, 9, 12]

47. Create a set of the first `n` triangular numbers.

In [99]:
def generate_triangular_numbers(n):
    triangular_numbers = set()  
    for i in range(1, n + 1):
        triangular_number = i * (i + 1) // 2  
        triangular_numbers.add(triangular_number)  
    return triangular_numbers

n = int(input("Enter the value of n: "))

triangular_set = generate_triangular_numbers(n)

print(f"The set of the first {n} triangular numbers is:", triangular_set)

Enter the value of n:  5

The set of the first 5 triangular numbers is: {1, 3, 6, 10, 15}

48. Check if a set contains another set as a subset.

In [100]:
set1 = {1, 2, 3, 4, 5}
set2 = {3, 4}
is_subset = set2.issubset(set1)
if is_subset:
    print("set2 is a subset of set1")
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

49. Create a set of alternating 1s and 0s of length `n`.

In [101]:
def create_alternating_set(n):
    alternating_set = set()

    for i in range(n):
        if i % 2 == 0:
            alternating_set.add(1)  
        else:
            alternating_set.add(0)  

    return alternating_set

length_n = 10

result = create_alternating_set(length_n)

print(result)

{0, 1}

50. Merge multiple sets into one.

In [102]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}

merged_set = set1.union(set2, set3)

print("Merged Set:", merged_set)

Merged Set: {1, 2, 3, 4, 5, 6, 7}